
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.head1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    font-size: 28px; 
    font-weight: 800;
    color: #0D1321;
    border: 150px 50px ;

}
.btn-1{
    font-size: 20px; 
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 5px;
    border-color: #0D1321;
 
}
.pic-1{
    
    width: 240.28px;
    height: 240px;
    align-items: center;
}
.tittle-1{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    border: 150px 50px ;
    text-align: center;
}
.p1{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    border: 150px 50px ;
    text-align: center;
}
.btn-2{
    font-size: 20px; 
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 5px;
    background-color: #0D1321;
    color: #FFFFFF;
    align-items: center;
    
}
.head2{ 
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;    
}
.why-web{

    width: 1140px;
    min-height: 1395px;
    margin: 0 auto;
    border: 2px  ;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.head3-web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
    margin-top: 80px;
}
.tittle-2{
    font-size: 32px;
    font-weight: 800;
}
.p2{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}
.head4-web{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border: 2px  ;
    border-radius: 16px;
    

}
.tittle-3{
    font-size: 24px;
     font-weight: 700;
}
.p3{
    font-size: 24px;
    font-weight: 700;
    color: #0D1321B3;
}
.btn-3{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    background: #FFFFFF; 
     color: #0D1321;
}    
.ALL-Web{
    display: flex;
}
.head4-web{
    
}






















/*
.why-web2{
    display: flex;
    background:#FFFFFF;
    border: 2px ;
    border-radius: 16px; 
    margin: 0 auto;
    width: 946px;
    height: 336px;  
}
.head4-web{
  
   
}
.tittle-3{
    font-size: 24px;
     font-weight: 700;
}
.p3{
    font-size: 24px;
    font-weight: 700;
    color: #0D1321B3;
}
.btn-3{
    font-size: 20px;
     font-weight: 600;
     color: rgb(13, 19, 33);
     padding: 17px 24px;
     border-radius: 5px;
     background: #FFFFFF;
  
}
/*